.button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
}

.button:hover {
  background-color: rgb(104, 32, 172);
}

.button:disabled {
  background-color: rgb(132, 116, 148);
}

.button:focus {
  outline: 2px solid blueviolet;
  outline-offset: 3px;
}